<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>futtetennista.docker-system-prune</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
	  <string>/usr/local/bin/docker</string>
	  <string>system</string>
	  <string>prune</string>
	  <string>--force</string>
	  <string>--volumes</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>86400</integer>
	<key>StandardErrorPath</key>
  	<string>/tmp/launch_agent-docker-system-prune.std-err</string>
	<key>StandardOutPath</key>
  	<string>/tmp/launch_agent-docker-system-prune.std-out</string>
</dict>
</plist>
