# This is Git's per-user configuration file.
[alias]
        h = log -p --follow
	s = status
	co = checkout
	cm = commit -m
	po = push origin
	pr = pull --rebase
	amend = commit --amend
	size = count-objects -vH
